<extend name="Public/base" />

<block name="body">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Core/js/ext/magnific/magnific-popup.css"/>
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>审核通过图片列表</h2>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">图片</th>
                <th class="">类型</th>
                <th class="">用户</th>
                <th class="">昵称</th>
                <th class="">上传时间</th>
                <!--<th class="">操作</th>-->
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                        <td>
                            <div class="popup-gallery">
                                <a href="{$vo.pic}" title="查看大图">
                                    <img src="{$vo.thumb}" height="100" alt=""/>
                                </a>
                            </div>
                        </td>
                        <td>{$vo['type']==1?"公开":"私密"} </td>
                        <td>
                            <a href="{:U('User/detail',array('uid'=>$vo['uid']))}">
                                <notempty name="vo.user.headimg">
                                    <img src="{$vo.user.headimg}" height="100" alt=""/>
                                <else/>
                                    {$vo.user.nickname}
                                </notempty>
                            </a>
                        </td>
                        <td><a href="{:U('User/detail',array('uid'=>$vo['uid']))}">{$vo.user.nickname}</a></td>
                        <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Core/js/ext/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav('{:U('User/index')}');
        $('.popup-gallery').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: '正在载入 #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image

                },
                image: {
                    tError: '<a href="%url%">图片 #%curr%</a> 无法被载入.',
                    titleSrc: function (item) {
                        /*           return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';*/
                        return '';
                    },
                    verticalFit: false
                }
            });
        });
    </script>
</block>
