<extend name="Public/base" />

<block name="body">
    <style>
        .dropdown .row{display: block;}
    </style>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('changeStatus?method=resumeUser')}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('changeStatus?method=forbidUser')}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('changeStatus?method=deleteUser')}" target-form="ids">删 除</button>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="middle" class="search-input search-middle" value="{:I('middle')}" placeholder="介绍人ID">
                <a class="sch-btn" href="javascript:;" id="search1" url="{:U('index')}"><i class="btn-search"></i></a>
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID或者手机号">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                    <div class="row">
                        <label>是否vip：</label>
                        <select name="is_vip" id="is_vip">
                            <option value="all" {$_GET['is_vip']=="all"?"selected":''}>全部</option>
                            <option value="0" {$_GET['is_vip']=="0"?"selected":''}>否</option>
                            <option value="1" {$_GET['is_vip']=="1"?"selected":''}>是</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>vip等级</label>
                        <select name="small_vip" id="small_vip">
                            <option value="">请选择</option>
                            <foreach name="vip_list" item="v">
                                <option value="{$v.level}" {$_GET['small_vip']==$v['level']?"selected":""}>{$v.level}:{$v.title}</option>
                            </foreach>
                        </select>
                        <select name="big_vip" id="big_vip">
                            <option value="">请选择</option>
                            <foreach name="vip_list" item="v">
                                <option value="{$v.level}" {$_GET['big_vip']==$v['level']?"selected":""}>{$v.level}:{$v.title}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="row">
                        <label>视频认证：</label>
                        <select name="is_video" id="is_video">
                            <option value="all" {$_GET['is_video']=="all"?"selected":''}>全部</option>
                            <option value="0" {$_GET['is_video']=="0"?"selected":''}>否</option>
                            <option value="1" {$_GET['is_video']=="1"?"selected":''}>是</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>年龄</label>
                        <input type="text" name="small_age" class="input-2x" value="{$_GET['small_age']}"/>
                        <input type="text" name="big_age" class="input-2x" value="{$_GET['big_age']}"/>
                    </div>
                    <div class="row">
                        <label>金币</label>
                        <input type="text" name="small_coin" class="input-2x" value="{$_GET['small_coin']}"/>
                        <input type="text" name="big_coin" class="input-2x" value="{$_GET['big_coin']}"/>
                    </div>
                    <div class="row">
                        <label>照片：</label>
                        <select name="is_album" id="is_album">
                            <option value="all" {$_GET['is_album']=="all"?"selected":''}>全部</option>
                            <option value="0" {$_GET['is_album']=="0"?"selected":''}>无</option>
                            <option value="1" {$_GET['is_album']=="1"?"selected":''}>有</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>注册城市</label>
                        <input type="text" name="city" class="input-2x" value="{$_GET['city']}"/>
                    </div>
                    <div class="row">
                        <label>当前城市</label>
                        <input type="text" name="nowcity" class="input-2x" value="{$_GET['nowcity']}"/>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
		<th class="">账号</th>
		<th class="">昵称</th>
		<th class="">金币</th>
		<th class="">vip等级</th>
		<th class="">被投诉次数</th>
		<th class="">登录次数</th>
		<th class="">最后登录时间</th>
		<th class="">最后登录IP</th>
		<th class="">LBS</th>
		<th class="">介绍人</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.uid} </td>
			<td>{$vo.username} </td>
			<td>{$vo.nickname}</td>
			<td>{$vo.coin}</td>
			<td>
                <notempty name="vo.vipInfo">
                    {$vo.vipInfo.level}级：{$vo.vipInfo.title}
                <else />
                    0
                </notempty>
            </td>
			<td>{$vo.tousu}</td>
			<td>{$vo.login}</td>
			<td><span>{$vo.last_login_time|time_format}</span></td>
			<td><span>{:long2ip($vo['last_login_ip'])}</span></td>
			<td>{$vo.lng}:{$vo.lat}</td>
			<td><span>{$vo['middle']?$vo['middle']:"无"}</span></td>
			<td>{$vo.status_text}</td>
			<td>
                <a href="{:U('User/detail?uid='.$vo['uid'])}">详情</a>
                <a href="{:U('User/album?uid='.$vo['uid'])}">相册</a>
                <a href="{:U('User/video?uid='.$vo['uid'])}">视频</a>
                <eq name="vo.status" value="1">
				<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('AuthManager/group?uid='.$vo['uid'])}" class="authorize">授权</a>
				<!--<a href="{:U('User/tousu?uid='.$vo['uid'])}" class="authorize">被投诉记录</a>-->
                <a href="{:U('User/changeStatus?method=deleteUser&id='.$vo['uid'])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        var select = $('.search-form').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query + '&' + select;
        }else{
            url += '?' + query + '&' + select;
        }
		window.location.href = url;
	});
    //搜索功能
    $("#search1").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input[name="middle"]').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //回车搜索
    $(".search-middle").keyup(function(e){
        if(e.keyCode === 13){
            $("#search1").click();
            return false;
        }
    });
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
